<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Poster!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Home", to: page_path(@conn, :index), class: "btn btn-default btn-xs" %></li>
            <li><%= link "Categories", to: categories_path(@conn, :index), class: "btn btn-default btn-xs" %></li>
            <li><%= link "Posts", to: posts_path(@conn, :index), class: "btn btn-default btn-xs" %></li>
          </ul>
        </nav>

        <span class="logo"></span>

        <div class="col-lg-12" style="padding-right: 0; margin-right: 0;">
          <%= form_for @conn, posts_path(@conn, :index), [as: :search, method: "get"], fn f -> %>
          <div class="pull-right col-lg-4 input-group">
            <%= text_input f, :search, [class: "form-control", placeholder: "Search..."] %>
            <span class="input-group-btn">
              <%= submit "Submit", class: "btn btn-primary" %>
            </span>
          </div>
          <% end %>
        </div>

      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
